.about {
  @include page-grid;

  &__title {
    margin-bottom: 32px;
    grid-column: 1 / -1;

    @include on-tablet {
      text-align: left;
      margin: 0;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      margin: 0;
      grid-column: span 5;
    }
  }

  &__text {
    grid-column: 1 / -1;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
