.header {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 100vh;

  padding-bottom: 88px;

  @include on-tablet {
    padding-bottom: 130px;
  }

  @include on-desktop {
    padding-bottom: 203px;
  }

  background-image: url(/src/img/header-bg-0.5x.webp);
  background-size: cover;
  background-position: right;
  background-position-x: 85%;

  @include on-tablet {
    background-position-x: 45%;
  }
}
