.menu {
  box-sizing: border-box;
  background-color: #c2c2c2;
  color: $main-dark-color;
  font-weight: 600;
  text-transform: uppercase;

  &__top-bar {
    margin-bottom: 24px;
  }

  &__nav {
    margin: 0 0 40px;
    margin-top: $mobile-top-bar-height + 24px;

    @include on-tablet {
      margin-top: $tablet-top-bar-height + 8px;
    }
  }

  &__phone-number {
    font-size: 16px;
    line-height: 27px;
    display: block;
    margin-bottom: 16px;
  }

  &__book {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid $main-dark-color;
  }
}
